$font-family: "Space Mono", monospace;


$color-cyan :hsl(172, 67%, 45%);

$color-cyan-very-dark: hsl(183, 100%, 15%);
$color-cyan-dark: hsl(186, 14%, 43%);
$color-cyan-dark-gray: hsl(184, 14%, 56%);
$color-cyan-light: hsl(185, 41%, 84%);
$color-cyan-light-gray: hsl(189, 41%, 97%);

$color-error:  hsla(0, 78%, 57%, 0.8);

$color-white: #fff;